body{
    font-family: 'Poppins', sans-serif;
}
     .half-width{
        
        width: 582px;
        height: 270px;
        padding-left: 120px;
        margin-top: 145px;
        margin-right: 133px;
        
    }
    .container{ 
        display: flex;
        

    }
    .image-size{
        width: 440px;
        height: 414px;
        margin-right: 165px;
    
    }
    .top-header{
        margin-left: 120px;
        margin-top: 87px;

    }
    .target-btn{
        text-decoration: none;
        background-color: #706267;
        color: white;
        border-radius: 25px;
        padding: 5px 20px;
        font-weight: 500;
    }
    /* footer section */
    .main-footer{
        text-align: center;
        background: black
    }  
    .h1-main{
        font-size: 24px;
         color: #FFFFFF;
    }
    .h2-main{
        font-size: 14px;
        color: #D9DBE1;
    }
    .h3-main{
        font-size: 14px;
        color: #D9DBE1;
    }
    .fab-icon{
        font-size: 14px;
        color: #29365c;

    }
    /* Popular Collection */
    .fab-icon2{
        display: flex;
        align-items: center;
        
    }
    .collections{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

        
       
    
    
